.center-image
{
    margin: 0 auto;
    display: block;
}

.center-third
{
    margin: 0 auto;
    display: block;
    width: 30%;
}

.center-half
{
    margin: 0 auto;
    display: block;
    width: 50%;
}

.center-threequarters
{
    margin: 0 auto;
    display: block;
    width: 75%;
}

a:hover{
    color: #ff00a5;
}

p
{
    margin-left: 1em;
    margin-right: 1em;
}

pre.highlight {
  max-height: 20em;
  overflow-y: scroll;
}

.highlighter-rouge .highlight {
  background: #eee;
}

code {
    font-size: 9pt;
}

pre.lineno{
    margin: 0;
}

pre {
    margin: 0;
}

.rouge-gutter {
    width:40px;
}

pre, code{
    border: none;
    background: #eee;
}

pre.code{
    border: none;
    margin: 0;
}

table {
    border: none;
    margin: 0;
}

table td{
    padding: 0;
    border: none;
}

table th{
    padding: 0;
}

.preface {
    font-style: italic;
    background: #efefef;
    padding: 15px;
    border-radius: 5px;
}

ul, ol {
    margin-left: 50px;
}
