.center-image
{
    margin: 0 auto;
    display: block;
}

.center-third
{
    margin: 0 auto;
    display: block;
    width: 30%;
}

.center-half
{
    margin: 0 auto;
    display: block;
    width: 50%;
}

.center-threequarters
{
    margin: 0 auto;
    display: block;
    width: 75%;
}

p
{
    margin-left: 1em;
    margin-right: 1em;
}
